<div *ngFor="let book of books$ | async">
  <app-book-card-small [book]="book.data">
    <a mat-icon-button [routerLink]="['/books', book.id, 'edit']" color="primary">
      <mat-icon>edit</mat-icon>
    </a>
    <button mat-icon-button (click)="deleteBook(book.id)" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="!!book.data.image" mat-icon-button (click)="convertBook(book.id)">
      <mat-icon>transform</mat-icon>
    </button>
  </app-book-card-small>
  <br/>
</div>
