<div class="dropzone" [class.hovering]="isHovering" [class.disabled]="!(book | async)">
  <div class="zone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" *ngIf="(book | async); let b">
    <label class="file">
      <input class="file-input" type="file" (change)="startUpload($event.target.files)">
      <img [src]="preview" *ngIf="b?.thumbnails?.cover; let preview">
      <div class="image-label" *ngIf="isHovering">Drop</div>
      <div class="image-label" *ngIf="!isHovering">Choose a file</div>
      <div class="progress" *ngIf="percentage | async as pct">
        <!-- <mat-progress-bar [value]="pct"></mat-progress-bar> -->
        {{ pct }}
      </div>
    </label>
  </div>
  <div class="zone"*ngIf="!(book | async)">
    <div class="image-label">Book must be saved first</div>
  </div>
</div>

<div class="ant-upload ant-upload-drag" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.ant-upload-drag-hover]="isHovering">
  <div (click)="uploader.click()" class="ant-upload ant-upload-btn" tabindex="0" role="button">
    <input style="display: none;" type="file" #uploader (change)="startUpload($event.target.files)">
    <div class="ant-upload-drag-container">
      <p class="ant-upload-drag-icon">
        <i nz-icon type="picture" theme="outline"></i>
      </p>
      <p class="ant-upload-text">Click or drag image to this area to upload</p>
    </div>
    <div class="ant-upload-drag-container" *ngIf="percentage | async; let pct">
        <nz-progress [nzPercent]="pct" nzType="circle"></nz-progress>
      </div>
  </div>
</div>
