.dropzone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  margin: 10px 0;
  padding: 3px;

  &.hovering {
    border: 2px solid #f16624;

    img {
      opacity: .2;
    }

    .image-label {
      color: #f16624;
    }
  }

  .file {
    width: 100%;
    height: 100%;
  }

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
    opacity: .8;
  }

  .image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
  }
}
