<div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
  <label class="file">
    <input class="file-input" type="file" (change)="startUpload($event.target.files)">
    <img *ngIf="image" [src]="image">
    <div class="image-label" *ngIf="isHovering">Drop</div>
    <div class="image-label" *ngIf="!isHovering">Choose a file</div>
    <div class="progress" *ngIf="percentage | async as pct">
      <mat-progress-bar [value]="pct"></mat-progress-bar>
    </div>
  </label>
</div>
