<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <input placeholder="ISBN" formControlName="isbn">
  <br/>
  <select placeholder="Format" formControlName="printType" required>
    <option value="BOOK">Book</option>
    <option value="DVD">DVD</option>
    <option value="VHS">VHS</option>
  </select>
  <br/>
  <input placeholder="Title" formControlName="title" required>
  <br/>
  <input placeholder="Subtitle" formControlName="subtitle">
  <br/>
  <hr/>
  <div *ngFor="let author of authors.controls; let i=index">
    <input placeholder="Author" [formControl]="author">
    <button (click)="deleteAuthor(i)">delete</button>
    <br/>
  </div>
  <button (click)="addAuthor()">Add Author</button>
  <hr/>
  <br/>
  <input placeholder="PublishedDate" formControlName="publishedDate">
  <br/>
  <input placeholder="Language" formControlName="language">
  <br/>
  <input placeholder="Pages" formControlName="pageCount">
  <br/>
  <textarea placeholder="Description" formControlName="description"></textarea>
  <br/>
  <textarea placeholder="Note" formControlName="note"></textarea>
  <br/>
  <app-image-upload [bookRef]="bookRef"></app-image-upload>
  <br/>
  <button [disabled]="state !== 'modified'">Save</button>
</form>
